.page-wrapper {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: #fbfaff;
}

.page-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.event-details__container {
    width: 100%;
}

.event-name {
    font-family: Helvetica, sans-serif;
    color: #240D57;
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: left;
}

.host-name {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #828282;
    margin: 0;
    padding: 0;
    text-align: left;
}

.event-item__container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    flex-direction: column;
}

.event-item {
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.event-item-icon {
    background-color: #ffffff;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.event-item-icon__container {
    display: flex;
    align-items: center;
}

.event-item-icon i {
    color: #8456EC;
}

.event-item .event-item-details p {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.main-text {
    color: #240D57;
    font-weight: 500;
}

.secondary-text {
    color: #4F4F4F;
    font-size: 11px;
}

.event-item-cta-arrow i {
    color: #BDBDBD
}


@media (max-width: 993px) {  
    .page-container {
      flex-direction: column-reverse;
    }
 }

 @media (max-width: 480px) { 
    .page-container {
        width: 100%;
    }

    .event-name {
        font-family: Helvetica, sans-serif;
        color: #240D57;
        font-weight: 800;
        font-size: 1.7;
        margin: 0;
        padding: 0;
        margin-left: 10px;
    }

    .host-name {
        margin-left: 10px;
    }
 }